.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100%;
}

.App-logo {
  padding: 20px;
  width: 100%;
  pointer-events: none;
}

.App-header {
  background-color: #0052cc;
  height: 100%;
  width: 6%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
