.App {
  text-align: center;

  display: flex;
  flex-direction: row;
}

.Body {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.Table-header {
  width: 100%;
  height: 15%;
  text-align: center;

  display: flex;
  flex-direction: row;
}

.Title {
  width: 50%;
  height: 100%;

  display: flex;
  justify-content: left;
  align-items: center;
}

.Title h1 {
  padding-left: 25%;
}

.Buttons {
  width: 50%;
  display: flex;
  flex-direction: row;
  margin: auto 0px;
  padding-left: 45%;
}

.Table-tree {
  width: 85%;
  height: 100%;
  margin: 0 auto;
}

.Search {
  width: 50%;
}

.Add-project {
  padding-left: 10px;
}
