html,
body,
#root,
#root > div {
  height: 100%;
}
.App {
  display: flex;
  flex-direction: row;

  height: 100%;
  width: 100%;
}

.Body {
  width: 100vw;
  height: 100%;

  display: flex;
  flex-direction: column;

  padding: 0vh 6vh;
}

.Editor-column {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40%;
}

.Log-column {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding-left: 5vh;
}

.Editor-breadcrumb {
  height: 8%;
  text-align: left;
}

.Text-background {
  height: 65.5%;
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  background-color: #eeeeee;
  text-align: left;
}

.Log-card {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 10px;
  height: 95%;
  overflow: scroll;
}

h1 {
  font-weight: 500;
  padding-top: 0vh;
}

h2 {
  font-weight: 500;
  font-size: 18px;
}

h3 {
  color: #999;
  font-weight: 400;
}

.HTTP-Button {
  padding: 8px;
  min-width: 7vh;
  border-radius: 6px;
  color: white;
  font-weight: 500;
  margin: auto auto;
  text-align: center;
}

.Diff-button {
  min-width: 6vh;
  padding: 5px;
  border-radius: 3px;
  color: white;
  font-weight: 700;
  font-size: 11px;
  text-align: center;
}

.Header-row {
  background-color: red;
}

.Table-header-container {
  height: 10px;
}

.Table-header-container p {
  font-size: 12px;
  color: #5e6c84;
  font-weight: bold;
  letter-spacing: -0.1;
}

#Editor-body {
  display: flex;
  height: 90%;
  flex-direction: row;
}

#left-column {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
}

#left-column h1 {
  text-align: left;
}

#right-column {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding-left: 5vh;
}


#right-column h1 {
  text-align: left;
}

#dropdown {
  display: flex;
  padding-bottom: 2%;
}

#policy-text {
  display: flex;
  height: 100%;
}

#upload-div {
  display: flex;
  padding: 2%;
}

#filter-project {
  display: flex;
  flex-direction: row;
  padding-bottom: 2%;
}

#left-editors {
  height: 100%;
}
